/* Icons */
i {
    text-align: left;
    color: #c3ae5a;
    margin: 4px;
    transition: color .1s linear;
}

i:hover {
    color: #4e52ae;
}

i:active, :focus {
    outline: 0 !important;
}
/* Navbar */
nav {
    background-color: #071017;
    border-bottom: 1px solid #dde2ab;
    line-height: 40px;
}

.nav-item .nav-link {
    text-align: center;
    color: #dde2ab;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    margin-left: 30px;
    padding: 0 !important;
    transition: color .1s linear;
    opacity: .9;
}

.nav-item .nav-link:hover {
    color: #ddd77a;
}

.navbar ul {
    padding: 0;
    margin: 0 !important;
    list-style: none;
}

.name {
    white-space: nowrap;
    text-align: center;
    font-size: 21px !important;
    color: #c3ae5a;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
}

.name:hover {
    color: #c3ae5a;
    text-decoration: none;
}

/* Body */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.container {
    max-width: 1170px;
    margin: auto;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #061117;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: #c3ae5a;
}

p {
    color: #dde2ab;
}

label {
    color: #fff;
}

.indent {
    text-indent: 1.5em;
}

.left-block {
    margin-right: auto;
    width: 450px;
    text-align: justify;
}

.btn-main {
    color: #071017;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #c3ae5a;
    transition: background-color .2s linear;
}

.btn-main:hover {
    background-color: #dec45b;
}

/*Card*/
.card{
    background-color: red;
}
.card-header, .card-footer {
    background-color: #241c1c;
}

.card-header h1, h2, h3, h4, h5, h6 {
    font-family: 'Shippori Antique', sans-serif;
    font-weight: bold;
}

.card-header a {
    text-decoration: none;
    color: #c3ae5a;
}

.card-header a:hover {
    text-decoration: none;
    opacity: .8;
}

.card-footer p {
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    color: #c3ae5a;
}

.card-footer span {
    font-weight: normal;
    margin-left: 5px;
    color: #b4b873;
}

.card-footer-news {
    background-color: #c3ae5a;
}

.card-footer-news p {
    color: #241c1c;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #071017;
    border-top: 1px solid #261e1e;
}

.footer a {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    opacity: .7;
    color: #c3ae5a !important;
}

.footer ul {
    padding: 0;
    margin: 0 !important;
    list-style: none;
    
}

.footer li {
    font-family: 'EB Garamond', serif;
    color: #dde2ab;
    font-size: 14px;
    opacity: .7;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 50%;
    padding: 0 15px;
}



/*Galereya*/
.example-card img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;
    transition: .2s linear;
}

.example-card img:hover {
    transform: scale(1.2);
}
