@model MemorialRoyaleProject.Models.Memorial

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proportion" class="control-label"></label>
                <input asp-for="Proportion" class="form-control" />
                <span asp-validation-for="Proportion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Granite" class="control-label"></label>
                <input asp-for="Granite" class="form-control" />
                <span asp-validation-for="Granite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nabor" class="control-label"></label>
                <input asp-for="Nabor" class="form-control" />
                <span asp-validation-for="Nabor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
