<!DOCTYPE html>

<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>   

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/images/memorial.ico">
</head>

<body>  
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                <a class="name d-flex justify-content-start" asp-area="" asp-controller="Home" asp-action="Index"> Memorial Royal </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa fa-bars"></i></span>
                </button>
                <div class="navbar-collapse collapse justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Memorials" asp-action="Index">Памятники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ShowStoimost">Стоимость</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ShowVidiRabot">Виды работ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="WorkExamples" asp-action="Index">Примеры работ</a>
                        </li>
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">Новости</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse justify-content-end">
                    <a href="https://www.instagram.com/memorialroyal.minsk/">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="https://yandex.by/maps/157/minsk/house/Zk4Ycw9lQEwBQFtpfXRwdXtiZw==/?ll=27.586751%2C53.894255&utm_source=main_stripe_big&z=11.25">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </a>
                    <a href="tel: +375(29)165-29-95">
                        <i class="fa fa-mobile-phone fa-2x"> +375(29)165-29-95</i> 
                    </a>                 
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top-1">
        <div class="container"> 
            <div class="row">
                <div class="footer-col">
                    <br />
                    <a asp-area="Identity" asp-page="/Account/Login" style="text-decoration: none;">&copy; 2021 Memorial Royal</a>
                </div>
                <div class="footer-col" style="padding-left: 260px;">
                    <a style="text-decoration: underline;">Контакты</a>
                    <ul>
                        <li>Тел: +375(29)165-29-95</li>
                        <li>Тел: +375(44)710-38-60</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

