@{
    ViewData["Title"] = "Главная";
}

<link rel="stylesheet" href="~/css/main-page.css" />

<body>
    <div class="left-block">
         <div class="text-center">
            <h3>Memorial Royal</h3>
         </div>
         <div class="left-block indent">
             <p>Выполняем благоустройство могил и захоронений любой сложности. Работники  «MEMORIAL ROYAL» делают всё «под ключ», 
    сами закупят и доставят необходимые стройматериалы.</p><p>Соблюдаем требования и технологические процессы сложных работ с бетоном и 
    натуральным камнем. После благоустройства, захоронение будет выглядеть аккуратно и ухожено.</p>
         </div>
        <div class="text-center">
            <a class="btn btn-main" asp-controller="Memorials" asp-action="Index">Памятники</a>
            <a class="btn btn-main" asp-controller="WorkExamples" asp-action="Index">Примеры работ</a>
            <i class="bi bi-house-door"></i>
        </div>
    </div>  
</body>
