
@{
    ViewData["Title"] = "Стоимость";
}

<div class="row row-cols-2">
    <div class="col">
       <h3 class="text-center"> Стоимость </h3>
       <div class="indent">
            <p>Цена благоустройства могилы зависит от вида проводимых работ. </p>
            <p>Подскажем как лучше обустроить место захоронения и рассчитаем стоимость, звоните по тел: 
                <span style="color: #c3ae5a; font-weight: bold;">+375(29)165-29-95, +375(44)710-38-60</span>.</p>
            <p>Выезд специалиста на кладбища Минска и Минского р-на бесплатно. </p>
       </div>
    </div>
    <div class="col d-flex justify-content-center">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A85151236c9e1fcba12a3ad228f292540c24e5495afebe158c2c68775a9fe0bba&amp;source=constructor"
      width="500" height="450" frameborder="0"></iframe>
    </div>
</div>