
@{
    ViewData["Title"] = "Виды проводимых работ";
}
    
<div class="row row-cols-2">
    <div class="left-block col">
        <h3 class="text-center">Виды проводимых работ</h3>
        <div class="indent">
            <p>
    Установка памятника, установка оград, установка скамеек и столиков, выравнивание грунта, заливка фундаментов, укладка плитки, укладка гранитных и мраморных
    плит, установка тротуарного бордюра, установка бессерного блока и так далее.</p> <p>Вариантов множество, какие-то захоронения требуют немалого объёма труда, а на 
    некоторых нужно лишь косметическое обустройство.</p>
        </div>
    </div>
    <div class="col">
        <img width="400" src="/images/ogrady2.png" style="margin-left: 60px;" />
    </div>
</div>

<div class="row row-cols-2" style="margin-bottom: 20px;">
    <div class="left-block col">
        <img width="500" src="/images/ogrady.png" />
    </div>
    <div class="col indent">
        <p>
    Определите, каким Вы хотите видеть место погребения, какими будут монумент и ограда, хотите ли вы гранитную или тротуарную плитку, нужен ли газон или щебень. Мы подскажем как обустроить могилу, приедем на любое кладбище Минска и Минского района. </p>
    </div>
</div>

<div class="text-center">
    <p>Компания «Memorial Royal» ставит своей задачей оказание качественных и оперативных услуг. Мы предлагаем широкий ассортимент памятников и сопутствующей продукции. Всегда готовы предоставить консультацию, касающуюся характеристик натурального камня.

Если Вас заинтересовал памятник из гранита, купить его в нашей компании можно по доступным ценам. Большой выбор моделей позволит подобрать вариант лучше всего передающий Ваши чувства и отношение к ушедшему. Позвоните, чтобы узнать больше.</p>
<img width="300" src="/images/123.png" style="margin-bottom: 70px;"/>
</div>

